footer
    .container-fluid
        .row
            .col-6.col-md-3
                span.title-link Quick links
                ul
                    li
                        a(href="#")  Hotels/Resorts
                    li
                        a(href="#")  Experiences
                    li
                        a(href="#")  Current Deals
            .col-6.col-md-3
                span.title-link Discover
                ul
                    li
                        a(href="#")  Most popular destinations
                    li
                        a(href="#")  Best places for food lovers
                    li
                        a(href="#")  Luxury yacht travel
                    li
                        a(href="#")  Travel blog
            .col-6.col-md-3
                span.title-link Support
                ul
                    li
                        a(href="#")  Help
                    li
                        a(href="#")  Contact us
            .col-6.col-md-3
                span.title-link AQBooking.COM
                ul
                    li
                        a(href="#")  About
                    li
                        a(href="#")  News
                    li
                        a(href="#")  Partner with us
        .row
            .col-12
                hr
                .copy-right
                    .left
                        .logo
                            include ../master/icon/logo-footer.pug
                        p © 2020 AQBooking. All rights reserved.
                        .link 
                            a(href="#") Terms
                            a(href="#") Pricacy policy
                            a(href="#") Sitemap
                    .right
                        a(href="#")
                            include ../master/icon/fb.pug
                        a(href="#")
                            include ../master/icon/tw.pug
                        a(href="#")
                            include ../master/icon/ins.pug
                
