footer
    .top 
        .container 
            .row 
                .col-12 
                    .wrap
                        .left
                            img(src="assets/images/logo-bottom.svg", alt="logo")
                            .wrap-text 
                                p.title Ngân hàng TMCP Việt Nam Thịnh Vượng
                                p.addr Trụ sở chính: 89 Láng Hạ, Quận Đống Đa, Hà Nội
                        .wrap-icon 
                            a(href="https://zalo.me/1981821191843516248")  
                                img(src="assets/images/zalo.svg", alt="icon")
                            a(href="https://www.youtube.com/channel/UCyRH0SIaaQBPOxsqJfgwkoA/")  
                                img(src="assets/images/youtube.svg", alt="icon")
                            a(href="https://www.facebook.com/VPBank/")  
                                img(src="assets/images/fb.svg", alt="icon")
    .bottom 
        .container 
            .row 
                .col-12 
                    .wrap
                        p.text © 2021 VPBank – Bản quyền đã được bảo hộ
                        p.text Chính sách bảo mật
