.user-form#user-register-form
    .form-login
        h3.title Đăng ký ngay để trở thành hội viên VPBank Prime+
        h3.title-mobile Đăng ký ngay VPBank Prime+
        form
            .wrap-form
                .form-group
                    label(for='inputHoTen') Họ và tên 
                        span *
                    input#inputHoTen.form-control(type='email' placeholder='Nhập họ tên' required)
                    p.error-text Vui lòng nhập thông tin!
                .form-group
                    label(for='inputEmail') Email 
                        span *
                    input#inputEmail.form-control(type='email' placeholder='Nhập email')
                .form-group.have-select
                    label(for='inputTinhThanhPho') Tỉnh/Thành phố 
                        span *
                    select.form-control(name="") 
                        option(value="") Nhập Tỉnh/Thành phố 
                        option(value="") TPHCM 
                        option(value="") Ha Noi
                .form-group.have-select
                    label(for='inputQuanHuyen') Quận/Huyện 
                    select.form-control(name="") 
                        option(value="") Nhập Quận/Huyện
                        option(value="") 2
                .form-group
                    label(for='inputSanPham') Sản phẩm đăng ký 
                        span *
                    #btnSelectSanPham.form-control.btnSelectSanPham.have-select(data-toggle='collapse' data-target='#selectSanPham' aria-expanded='false' aria-controls='selectSanPham') Chọn sản phẩm
                    #selectSanPham.selectSanPham.collapse(aria-labelledby='selectSanPham')
                        .container-checkbox
                            input#sanpham1(type='checkbox' name='sanpham' value='Tài khoản số đẹp VPBank Prime 5in1')
                            label(for='sanpham1')  Tài khoản số đẹp VPBank Prime 5in1
                        .container-checkbox
                            input#sanpham2(type='checkbox' name='sanpham' value='Vay kinh doanh')
                            label(for='sanpham2')  Vay kinh doanh
                        .container-checkbox
                            input#sanpham3(type='checkbox' name='sanpham' value='Vay ô tô')
                            label(for='sanpham3')  Vay ô tô
                        .container-checkbox
                            input#sanpham4(type='checkbox' name='sanpham' value='Thẻ tín dụng Super Shopee Platinum')
                            label(for='sanpham4')  Thẻ tín dụng Super Shopee Platinum
                        .container-checkbox
                            input#sanpham5(type='checkbox' name='sanpham' value='Tiết kiệm Flexi Saving')
                            label(for='sanpham5')  Tiết kiệm Flexi Saving
                        .container-checkbox
                            input#sanpham6(type='checkbox' name='sanpham' value='Tiết kiệm lãi suất ưu đãi')
                            label(for='sanpham6')  Tiết kiệm lãi suất ưu đãi
                        .container-checkbox
                            input#sanpham7(type='checkbox' name='sanpham' value='Bảo hiểm nhân thọ VP Smart PLAN')
                            label(for='sanpham7')  Bảo hiểm nhân thọ VP Smart PLAN
            .wrap-google-robot
                img(src="assets/images/gg.png", alt="robot")
            p.success-text
                img(src="assets/images/check.svg", alt="icon")
                span Đăng ký thành công, chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất.
            button.button(type='submit') 
                span Đăng ký
                .bg
        span.btn-close
            img(src="assets/images/close.svg", alt="icon")