@import 'mixins';

:root {
  --cmain: #00B74F;
  --cbg: #EEEEEE;
  --cgray: #CCCCCC;
  --cwhite: #FFFFFF;
  --chover: #8D8875;
  --font: 'SVN-Gilroy';
}


//Ti
.vp-main-content {
  overflow: hidden;
  background-color: #e0f5ff;

  &.has-overflow {
    z-index: 2;
    // &::before {
    //   content: '';
    //   background-color: rgba(0, 0, 0, 0.7);
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   z-index: 999;
    // }
  }
}

* {
  font-family: var(--font) !important;
}

button:focus,
a:focus {
  outline: none;
}

body {
  background-color: var(--cbg);
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: unset;
  @include transition(all 0.5s);

  &:hover {
    color: #00B74F;
    text-decoration: none;
  }
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.link-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.have-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full-height {
  height: 100vh;
  max-height: 1080px;
  min-height: 720px;

  @media screen and (max-width: 768px) {
    min-height: unset;
    max-height: unset;
  }
}

.sub-title {
  font-size: 20px;
  text-transform: uppercase;
}

.title {
  font-size: 48px;
}

.text {
  font-size: 16px;
  color: #FFFFFF;
}

.pr {
  position: relative;
}

.button {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 60px;
  border: none;
  background: none;

  .bg {
    position: absolute;
    top: -78px;
    left: -8px;
    height: 220px;
    width: 220px;
    z-index: 0;
    background: linear-gradient(90deg, #015AAD 2.86%, #00B74F 100%);
    transition: all 1s;
  }

  a,
  span {
    z-index: 1;
    display: block;
    padding: 16px 42px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    transition: all 1s;

    &:hover {
      color: #bcffd9;

      &~.bg {
        transform: rotate(180deg);
      }
    }
  }

  span {
    padding: 11px 64px;
  }

}

.slick-arrow {
  display: none !important;
}

.wrap-border {
  border-radius: 0px 0px 60px 60px;
  overflow: hidden;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 768px) {
    border-radius: 0px 0px 40px 40px;
  }
}

section {
  display: flex;
  align-items: center;
}


.wrap-slide {
  .wrap-title {
    text-align: center;
    margin-bottom: 24px;

    .title {
      font-size: 40px;
      font-weight: bold;
      color: #fff;

      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
    }

    .text {
      font-size: 12px;
      color: #B9ECFE;
    }
  }

  .wrap-img {
    position: relative;
    border-radius: 30px 30px 0 0;

    &::after {
      content: '';
      background-color: rgba(0, 0, 0, 0.15);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }

    .text-img {
      position: absolute;
      bottom: 16px;
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      z-index: 1;
      width: 100%;
      line-height: 1.2;
    }
  }
}

.slide-img {
  color: #FFFFFF;
  background: linear-gradient(70.69deg, #02455F -17.03%, #0A304D 22%, #131A3B 72.01%, #161234 104.95%);
  box-shadow: 0px 12px 40px rgba(28, 28, 30, 0.06);
  border-radius: 33px;

  .wrap-img {
    // border-radius: 30px 0px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .img-top {
    height: 216px;
    object-fit: cover;
  }

  .content {
    padding: 18px;

    .title {
      font-size: 18px;
      font-weight: bold;
      color: #26C5FF;
      margin-bottom: 12px;
      height: 50px;
    }

    ul {
      padding-left: 12px;
      height: 160px;
    }

    li {
      font-size: 13px;
      list-style-type: disc;
    }
  }

  .wrap-bottom {
    text-align: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      border-top: 1px solid #02455F;
      opacity: 0.5;
      top: 16px;
      width: 100%;
      left: 0;
    }
  }

  .button {
    display: inline-block;

    a {
      padding: 7px 26px;
      font-weight: normal;
    }
  }


}

.block-slide {
  margin-left: -15px;
  margin-right: -15px;
}

.slick-slide {
  padding: 0 15px;
}

.slick-dots li {
  margin: 0 2px;

  button:before {
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
  }
}

.slick-dots li.slick-active button:before {
  font-size: 14px;
  color: #000;
  opacity: 1;
}

.gradient-text {
  font-size: 40px;
  background: linear-gradient(90deg, #015AAD 2.86%, #00B74F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-form {
  opacity: 0;
  top: 0;
  left: -120%;
  position: fixed;
  z-index: 1111;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(70.69deg, #02455F -17.03%, #0A304D 22%, #131A3B 72.01%, #161234 104.95%);
  padding: 74px 79px;
  color: #fff;

  ::-webkit-input-placeholder {
    /* Edge */
    color: #CCCCCC;
  }

  :-ms-input-placeholder {
    /* Internet Explorer */
    color: #CCCCCC;
  }

  ::placeholder {
    color: #CCCCCC;
  }

  &.active {
    z-index: 2;
    left: 0;
    opacity: 1;
    @include transition(all 0.5s);
  }

  .title {
    font-size: 24px;
    color: #26C5FF;
    margin-bottom: 32px;
  }

  .btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  form {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
  }

  .form-group {
    float: left;
    width: 50%;
    padding-right: 20px;
    margin-right: 0;
  }

  .form-control {
    color: #fff;
    background: transparent;
    border: 1px solid #26C5FF;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
  }

  .wrap-google-robot {
    margin-top: 20px;
    margin-bottom: 36px;
    width: 100%;
  }

  select {
    -webkit-appearance: none;
    color: #fff;
    background: transparent;
    border: 1px solid #26C5FF;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
  }

  .have-select {
    position: relative;

    &::after {
      content: '';
      background-image: url(../images/arrow-select.svg);
      position: absolute;
      right: 38px;
      bottom: 14px;
      width: 14px;
      height: 8px;
    }
  }

  .btnSelectSanPham,
  .selectSanPham {
    background: transparent;
    border: 1px solid #26C5FF;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;

    &::after {
      right: 16px;
    }
  }

  .selectSanPham {
    padding: 40px;
    margin-top: 5px;
    font-size: 14px;
    background: linear-gradient(70.69deg, #02455F -17.03%, #0A304D 22%, #131A3B 72.01%, #161234 104.95%);

    label {
      margin-left: 3px;
      margin-bottom: 0;
    }

    .container-checkbox:not(:last-child) {
      margin-bottom: 10px;
    }
  }


}