@import 'mixins';

footer {
    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    .top {
        background-color: #e0f5ff;
        padding: 35px 0;



        .left {
            display: flex;
            align-items: center;
        }

        .wrap-text {
            margin-left: 30px;
            padding-top: 8px;

            p {
                font-size: 14px;
            }

            .addr {
                color: #6E7573
            }

            .title {
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .wrap-icon {
            a:not(:last-child) {
                margin-right: 24px;
            }
        }
    }

    .bottom {
        background: linear-gradient(90deg, #1D4289 0%, #00B74F 67.71%);
        font-size: 14px;
        padding: 24px 0;
    }

    @media screen and (max-width: 768px) {
        .top {
            text-align: center;
            padding: 30px 0;

            .wrap {
                display: block;

                .wrap-text {
                    margin-left: 0;
                }

                .left {
                    display: block;
                    margin-bottom: 20px;
                }
            }
        }

        .bottom {
            padding: 16px 0;

            .wrap {
                .text:last-child {
                    display: none;
                }

                .text {
                    font-size: 12px;
                }
            }
        }

    }
}