@import 'mixins';

header {
    position: relative;
    z-index: 999;

    &.active {
        .navbar {
            &::after {
                opacity: 1;
            }
        }
    }

    .navbar {
        padding: 16px 0;
        color: #FFF;

        &::after {
            content: '';
            background: linear-gradient(70.69deg, #02455F -17.03%, #0A304D 22%, #131A3B 72.01%, #161234 104.95%);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
            opacity: 0;
            transition: all 0.3s;
        }

        .wrap-top {
            position: relative;
            z-index: 1;
        }

        .navbar-brand {
            margin-left: 48px;

            img {
                width: 128px;
            }
        }

        @media screen and (min-width: 1200px) {
            padding: 8px 0;
        }

        @media screen and (max-width: 1199px) {
            padding: 0;
            // background: linear-gradient(70.69deg, #02455F -17.03%, #0A304D 22%, #131A3B 72.01%, #161234 104.95%);

            .wrap-top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                height: 110px;
                align-items: center;
                // background: linear-gradient(70.69deg, #02455F -17.03%, #0A304D 22%, #131A3B 72.01%, #161234 104.95%);

                .navbar-brand {
                    margin-left: 32px;
                }
            }

            .wrap-show {
                height: calc(100vh - 110px);
                display: flex;
                flex-direction: column;
                padding-bottom: 48px;
                background: linear-gradient(70.69deg, #02455F -17.03%, #0A304D 22%, #131A3B 72.01%, #161234 104.95%);
            }
        }

        @media screen and (max-width: 768px) {
            .wrap-top {
                height: 87px;

                .navbar-brand {
                    margin-left: 16px;

                    img {
                        width: 100px;
                    }
                }

                .navbar-toggler {
                    padding: 16px;
                }
            }

            .wrap-show {
                height: calc(100vh - 87px);
            }
        }
    }

    .navbar-toggler {
        @media screen and (max-width: 1199px) {
            padding: 16px 32px;
        }
    }

    .navbar-collapse {
        justify-content: flex-end;
        position: relative;
        z-index: 1;

        .vp-bottom-button {
            display: none;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 48px;
        }

        @media screen and (max-width: 1199px) {

            .vp-bottom-button {
                padding: 0 32px;
                display: inline-block;

                hr {
                    width: 100%;
                    border-top: 1px solid #0061A3;
                }

                p {
                    margin-bottom: 16px;
                }

                a {
                    width: 46%;
                    max-width: 345px;
                    display: inline-block;
                    float: left;

                    img {
                        width: 100%;
                    }
                }

                .btn-ios {
                    margin-right: 16px;
                }
            }
        }

        @media screen and (max-width: 768px) {
            .vp-bottom-button {
                padding: 0 16px;

                a {
                    width: 60%;
                    max-width: 163px;
                    display: block;
                    float: unset;
                    margin-bottom: 16px;
                }
            }

        }


    }

    .navbar-nav {

        .nav-link {
            padding: 15px;
            margin-left: 50px;
            display: inline-block;
            &.button{
                padding: 0;
                cursor: pointer;
                a{
                    padding: 12px 42px;
                }
            }
        }

        @media screen and (max-width: 1199px) {
            height: 100%;

            .nav-link {
                padding: 16px;
                margin-left: 16px;
                font-size: 35px;
                &.button{
                    margin: 0;
                    a{
                        padding: 0;
                        padding: 16px;
                        margin-left: 16px;
                        font-size: 35px;
                        font-weight: normal;
                    }
                    .bg{
                        display: none;
                    }
                }
            }
            
        }

        @media screen and (max-width: 768px) {
            height: unset;
            padding-top: 16px;

            .nav-link {
                font-size: 16px;
                margin-left: 0;
                &.button{
                    a{
                        margin-left: 0;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

//burger menu
.navbar-toggler {
    &:focus {
        outline: none;
    }

    .icon-menu {
        svg {
            width: 30px;
            height: 30px;

            @media screen and (max-width: 768px) {
                width: 22px;
                height: 22px;
            }

            rect {
                transition: all 0.5s;
                fill: var(--cwhite);
            }

            rect:first-child {
                transform: rotate(-45deg) translate(-8px, 11px);
            }

            rect:nth-child(2) {
                opacity: 0;
            }

            rect:nth-child(3) {
                transform: rotate(45deg) translate(2px, -15px);
            }
        }
    }

    &.collapsed {
        .icon-menu {
            svg {
                rect:first-child {
                    transform: none;
                }

                rect:nth-child(2) {
                    opacity: 1;
                }

                rect:nth-child(3) {
                    transform: none;
                }
            }
        }
    }
}