<svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.1662 6.84732L13.8256 0.506669C13.7042 0.386117 13.5238 0.349381 13.3649 0.415007C13.2068 0.480236 13.104 0.634631 13.104 0.805512V1.65092C13.104 1.76319 13.1486 1.87054 13.2279 1.9498L17.5788 6.30076H0.422723C0.18907 6.3008 0 6.48983 0 6.72348V7.56889C0 7.80254 0.18907 7.99161 0.422723 7.99161H17.5788L13.2279 12.3426C13.1486 12.4218 13.104 12.5291 13.104 12.6415V13.4869C13.104 13.6578 13.2068 13.8121 13.3649 13.8774C13.4173 13.8992 13.4722 13.9096 13.5267 13.9096C13.6365 13.9096 13.7447 13.8667 13.8256 13.7857L20.1662 7.44509C20.3314 7.27995 20.3314 7.01246 20.1662 6.84732Z" fill="white"/>
</svg>
