<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M27.2575 25.7358L19.3986 17.877C20.8892 16.0367 21.7865 13.6973 21.7865 11.1501C21.7865 5.24536 16.9825 0.441406 11.0778 0.441406C5.17304 0.441406 0.369141 5.24536 0.369141 11.1501C0.369141 17.0548 5.17309 21.8588 11.0778 21.8588C13.625 21.8588 15.9645 20.9615 17.8047 19.471L25.6635 27.3298C25.8837 27.5499 26.2405 27.5499 26.4607 27.3298L27.2575 26.5329C27.4776 26.3127 27.4776 25.9559 27.2575 25.7358ZM11.0778 19.6043C6.41592 19.6043 2.62362 15.812 2.62362 11.1501C2.62362 6.48818 6.41592 2.69588 11.0778 2.69588C15.7398 2.69588 19.5321 6.48818 19.5321 11.1501C19.5321 15.812 15.7398 19.6043 11.0778 19.6043Z" fill="black"/>
</svg>
