section.home-banner.have-bg.full-height
    .container 
        .row.full-height
            .col-12.col-md-8.offset-md-2
                .content
                    img(src="assets/images/slogan.svg" alt="VP slogan" data-aos="fade-up", data-aos-duration="600")
                    h1.title(data-aos="fade-up", data-aos-duration="800", data-aos-delay="200") Thương hiệu ngân hàng đầu tiên dành cho thế hệ sống bứt phá.