section.home-block-4.full-height#blockKinhDoanh
    .wrap-border
        .container
            .row
                .col-12
                    .wrap-slide(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="400")
                        .wrap-title 
                            h3.title Business Prime
                            p.text CHỦ KINH DOANH
                        .block-slide
                            .slide-img 
                                img.img-top(src="assets/images/sim.png", alt="banner")
                                .content 
                                    p.title 1 tài khoản, 5 tiện ích Tặng tiền trên mọi chi tiêu
                                    ul 
                                        li Tặng tài khoản số đẹp theo sinh nhật, tam hoa, tứ quý,…
                                        li 0 phí quản lý và rút tiền ATM trên toàn quốc
                                        li Miễn phí giao dịch online vô điều kiện
                                        li Hoàn tiền không giới hạn cho thẻ thanh toán
                                        li Quà tặng Digi Welcome và tặng tiền cho chi tiêu hàng tuần
                                .wrap-bottom
                                    .button 
                                        a.btnDangKy(href="javascript:void(0)") Đăng ký ngay
                                        .bg
                            .slide-img 
                                img.img-top(src="assets/images/vay.png", alt="banner")
                                .content 
                                    p.title Vay nhanh trả gọn. Siêu linh hoạt
                                    ul 
                                        li Số tiền cho vay tới 75% giá trị tài sản
                                        li Thời gian vay tối đa 20 năm
                                        li Không cần Đăng ký kinh doanh
                                        li Tài khoản vốn dự phòng linh hoạt, được rút tiền bất cứ khi nào cần (Thấu chi tài khoản)
                                .wrap-bottom
                                    .button 
                                        a.btnDangKy(href="javascript:void(0)") Đăng ký ngay
                                        .bg
                            .slide-img 
                                img.img-top(src="assets/images/vay-o-to.png", alt="banner")
                                .content 
                                    p.title Phê duyệt nhanh trong vòng 5 phút
                                    ul 
                                        li Lãi suất 5.8% ưu đãi cố định (06 tháng)
                                        li Thời gian: 96 tháng vay dài hạn
                                        li Tỉ lệ vay: 85% giá trị xe
                                        li Duyệt vay: 02 tỷ đồng qua hệ thống phê duyệt tự động VPBank
                                .wrap-bottom
                                    .button 
                                        a.btnDangKy(href="javascript:void(0)") Đăng ký ngay
                                        .bg