section.home-block-9
    img.img-bg(src="assets/images/9-bg.png", alt="bg")
    .wrap-border 
        .container 
            .row 
                .wrap-mobile 
                    .col-12 
                        .wrap-title
                            h3 Tải ngay Ngân hàng số
                            img(src="assets/images/logo-neo-mobile.svg", alt="logo")
                        .wrap-button 
                            a(href="")
                                img(src="assets/images/btn-android.png", alt="logo")
                            a(href="")
                                img(src="assets/images/btn-ios.png", alt="logo")  
                        .wrap-text
                            p.text Email: chamsockhachhang@vpbank.com.vn
                            p.hotline Hotline: 1900545415
                .col-12.col-md-5
                    .img-left
                        img(src="assets/images/9-1.png", alt="mobile")
                .col-12.col-md-7
                    .wrap-desktop
                        .wrap-title
                            p.title Scan QR code để tải ngay Ngân hàng số
                            img(src="assets/images/logo-neo-white.svg", alt="logo")
                        .wrap-qr
                            .qr
                                p.text iOS
                                .wrap-img
                                    img(src="assets/images/9-ios.png", alt="qr")
                            .qr
                                p.text Android
                                .wrap-img
                                    img(src="assets/images/9-android.png", alt="qr")
                        .wrap-text
                            .text  
                                a(href="mailto:chamsockhachhang@vpbank.com.vn" title="Gửi Email") Email: chamsockhachhang@vpbank.com.vn
                            p.hotline Hotline: 1900545415
                    