section.home-block-6.full-height#blockGiaDinh
    .wrap-border
        .container
            .row
                .col-12
                    .wrap-slide(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="400")
                        .wrap-title 
                            h3.title Family Prime
                            p.text NGƯỜI XÂY TỔ ẤM
                        .block-slide
                            .slide-img 
                                .wrap-img
                                    img.img-top(src="assets/images/6-1.png", alt="banner")
                                    p.text-img Tiết kiệm <br>lãi suất ưu đãi
                                .content 
                                    p.title Tiết kiệm siêu linh hoạt với các sản phẩm tiền gửi đa dạng 
                                    ul 
                                        li Gửi góp chỉ từ 100.000 VND
                                        li Tối đa tiền lãi khi nộp thêm tiền vào sổ tiết kiệm 24/7
                                        li Không giới hạn số lần gửi tiền và thời gian gửi
                                        li Lãi suất hấp dẫn, gửi càng nhiều, lãi càng cao
                                        li Kỳ hạn gửi tiền linh hoạt từ 6 đến 36 tháng
                                .wrap-bottom
                                    .button 
                                        a.btnDangKy(href="javascript:void(0)") Đăng ký ngay
                                        .bg
                            .slide-img 
                                .wrap-img
                                    img.img-top(src="assets/images/6-2.png", alt="banner")
                                    p.text-img Bảo hiểm nhân thọ<br>VP Smart PLAN
                                .content 
                                    p.title Bảo vệ vững chắc -  An tâm tài chính - Chủ động tối đa 
                                    ul 
                                        li Linh hoạt lựa chọn gói BH cơ bản hoặc BH nâng cao dựa trên nhu cầu về yếu tố tiết kiệm hoặcbảo hiểm
                                        li Linh hoạt thay đổi số tiền BH & điều chỉnh kế hoạch tài chính theo từng giai đoạn cuộc đời
                                        li Gia tăng số tiền BH đến 25% trong những sự kiện quan trọng như sinh con, kết hôn

                                .wrap-bottom
                                    .button 
                                        a.btnDangKy(href="javascript:void(0)") Đăng ký ngay
                                        .bg
                            .slide-img 
                                .wrap-img
                                    img.img-top(src="assets/images/6-3.png", alt="banner")
                                    p.text-img Tài khoản số đẹp<br>VPBank Prime 5in1
                                .content 
                                    p.title 01 tài khoản, 05 tiện ích. Tặng tiền trên mọi chi tiêu
                                    ul 
                                        li Tặng tài khoản số đẹp theo sinh nhật, tam hoa,tứ quý,…
                                        li 0 phí quản lý và rút tiền ATM trên toàn quốc
                                        li Miễn phí giao dịch online vô điều kiện
                                        li Hoàn tiền không giới hạn cho thẻ thanh toán
                                        li Quà tặng Digi Welcome và tặng tiền cho chi tiêu hàng tuần
                                .wrap-bottom
                                    .button 
                                        a.btnDangKy(href="javascript:void(0)") Đăng ký ngay
                                        .bg