section.home-block-2.have-border.have-bg.full-height(style="background-image:url(assets/images/bg-2.jpg)")
    .container
        .row
            .content
                .col-12.col-md-4.offset-md-2(data-aos="fade-up", data-aos-duration="800")
                    p.text VPBank hiểu rằng thế hệ trẻ sống bứt phá, luôn ấp ủ những đam mê và nỗ lực không ngừng để chạm tới thành công. Vì thế, VPBank mang đến giải pháp tài chính toàn diện giúp bạn chinh phục khát vọng thịnh vượng nhanh hơn bao giờ hết.
                .col-12.col-md-5.offset-md-4.right(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="200")
                        p.quote ”Không sinh ra từ vạch đích, thì hãy bứt phá từ hôm nay”
                        .button
                            a(href="#") Khám phá ngay
                            .bg