section.home-block-3.full-height#blockSanPham
    .container
        .row.home-block-3-slide(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="400")
            .col-12.col-md-4
                .slide-img(style="background: #4CAB97")
                    h2 Business Prime
                    h3 chủ KINH DOANH
                    p.subtitle Bứt phá tài chính - Mở rộng kinh doanh 
                    .wrap-img
                        img(src="assets/images/3-1.jpg", alt="places")
                    p.text Bạn muốn bứt phá ở lĩnh vực đầu tư hay<br>kinh doanh? VPBank Prime+ sẽ giúp bạn quản lý dòng tiền hiệu quả và sinh lời như ý.
                    ul
                        li Tài khoản số đẹp VPBank Prime 5in1
                        li Vay kinh doanh
                        li Vay mua ô tô
                        li Đặc quyền hội viên
                    .button 
                        a#btnKinhDoanh(href="javascript:void(0)") Xem chi tiết
                        .bg
            .col-12.col-md-4
                .slide-img(style="background: #AB5267")
                    h2 Executive Prime
                    h3 Nhà quản lý tương lai
                    p.subtitle Bứt phá tiêu dùng - Sống thật phong cách 
                    .wrap-img
                        img(src="assets/images/3-2.jpg", alt="places")
                    p.text Bạn phấn đấu mãnh liệt trong công việc nhưng vẫn theo đuổi ước mơ trải nghiệm cuộc sống? VPBank Prime+ sẽ cùng bạn chủ động quản lý<br>tài chính để sống tận hưởng, thỏa đam mê. 
                    ul
                        li Thẻ tín dụng  VPBank Super Shopee Platinum
                        li Tiết kiệm Flexi Saving
                        li Tài khoản số đẹp VPBank Prime 5in1
                        li Đặc quyền hội viên
                    .button 
                        a#btnQuanLy(href="javascript:void(0)") Xem chi tiết
                        .bg
            .col-12.col-md-4
                .slide-img(style="background: #587CAA")
                    h2 Business Prime
                    h3 chủ KINH DOANH
                    p.subtitle Bứt phá tài chính - Mở rộng kinh doanh 
                    .wrap-img
                        img(src="assets/images/3-3.jpg", alt="places")
                    p.text Với bạn, vun đắp gia đình luôn là ưu tiên<br>hàng đầu? VPBank Prime+ sẽ đồng hành cùng bạn bảo vệ những người thân yêu và cùng con chinh phục những cột mốc mới trong cuộc sống.
                    ul
                        li Tiết kiệm lãi suất ưu đãi
                        li Bảo hiểm nhân thọ VP Smart PLAN
                        li Tài khoản số đẹp VPBank Prime 5in1
                        li Đặc quyền hội viên
                    .button 
                        a#btnGiaDinh(href="javascript:void(0)") Xem chi tiết
                        .bg