section.home-block-7.full-height#blockUuDai
    .wrap-border.have-bg(style="background-image:url(assets/images/bg-7.png)")
        .container
            .row
                .col-12.col-md-6.offset-md-3(data-aos="fade-up", data-aos-duration="600", data-aos-offset="-500")
                    .wrap-text
                        h2 Đặc quyền hội viên VPBankPrime
                        p.text.text-center.mt-2.mb-5 Trở thành Hội viên VPBankPrime, bạn sẽ sở hữu những đặc quyền tinh tế và độc đáo.
            .row
                .col-12.col-md-6.wrap-el-7(data-aos="fade-up", data-aos-duration="800", data-aos-offset="-500")
                    .content
                        img(src="assets/images/gift.svg", alt="banner")
                        .wrap-text
                            h3 Quà tặng Digi Welcome
                            p.text Nhận ngay e-voucher 50,000VNĐ để thanh toán hóa đơn điện, nước, điện thoại khi trở thành Hội viên VPBankPrime.
                .col-12.col-md-6.wrap-el-7(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="200", data-aos-offset="-500")
                    .content
                        img(src="assets/images/care.svg", alt="banner")
                        .wrap-text
                            h3 Chăm sóc riêng biệt
                            p.text Được phục vụ riêng bởi chuyên viên tư vấn và ưu tiên giao dịch tại chi nhánh VPBank.
                .col-12.col-md-6.wrap-el-7(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="200", data-aos-offset="-500")
                    .content
                        img(src="assets/images/refund.svg", alt="banner")
                        .wrap-text
                            h3 Hoàn tiền và giảm giá
                            p.text Free ship cả năm và 365 ngày hoàn tiền 10% cho chi tiêu thẻ tín dụng tại Shopee và Now cùng vô vàn ưu đãi từ đối tác của VPBank.
                .col-12.col-md-6.wrap-el-7(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="200", data-aos-offset="-500")
                    .content
                        img(src="assets/images/birthday.svg", alt="banner")
                        .wrap-text
                            h3 Quà tặng sinh nhật bất ngờ
                            p.text Quà tặng dành riêng cho bạn vào ngày đặc biệt này.
                .col-12.col-md-6.wrap-el-7(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="200", data-aos-offset="-500")
                    .content
                        img(src="assets/images/loyalty.svg", alt="banner")
                        .wrap-text
                            h3 Tích điểm Loyalty
                            p.text Tích điểm cho mọi giao dịch, tặng điểm vào dịp đặc biệt. Dùng điểm đổi quà với hàng ngàn lựa chọn hấp dẫn.
                .col-12.col-md-6.wrap-el-7(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="200", data-aos-offset="-500")
                    .content
                        img(src="assets/images/loyalty.svg", alt="banner")
                        .wrap-text
                            h3 Tích điểm Loyalty
                            p.text Tích điểm cho mọi giao dịch, tặng điểm vào dịp đặc biệt. Dùng điểm đổi quà với hàng ngàn lựa chọn hấp dẫn.
            .row 
                .col-12.text-center
                    .button.large-button
                        a.btnDangKy(href="javascript:void(0)") Trở thành Hội viên VPBankPrime ngay
                        .bg