section.home-block-8
    .container 
        .row 
            .col-12
                h2.gradient-text Mở ngay Tài khoản số đẹp VPBank Prime 5in1
        .row.justify-content-md-center
            .col-12.offset-md-1
                .home-block-8-slide
                    .item 
                        img(src="assets/images/shooting.svg", alt="icon")
                        p.number 01
                        p.text Tặng tài khoản số đẹp theo sinh nhật, tam hoa, tứ quý,…
                    .item 
                        img(src="assets/images/shooting.svg", alt="icon")
                        p.number 02
                        p.text 0 phí quản lý và rút tiền ATM trên toàn quốc
                    .item 
                        img(src="assets/images/shooting.svg", alt="icon")
                        p.number 03
                        p.text Miễn phí giao dịch online vô điều kiện
                    .item 
                        img(src="assets/images/shooting.svg", alt="icon")
                        p.number 04
                        p.text Hoàn tiền không giới hạn cho thẻ thanh toán
                    .item 
                        img(src="assets/images/shooting.svg", alt="icon")
                        p.number 05
                        p.text Quà tặng Digi Welcome và tặng tiền cho chi tiêu hàng tuần
        .row 
            .col-12 
                .title 
                    h3.gradient-text Bạn đã có ứng dụng
                    img(src="assets/images/logo-neo.svg", alt="icon") 
                    span.gradient-text ? 
        .row.justify-content-md-center
            .col-12.col-md-5
                .card
                    #haveNeo
                        button.btn.btn-link(data-toggle='collapse' data-target='#btnHaveNeo' aria-expanded='false' aria-controls='btnHaveNeo')
                            .gradient-text Đã có
                            img(src="assets/images/icon-arrow.svg", alt="icon") 
                    #btnHaveNeo.collapse(aria-labelledby='btnHaveNeo')
                        .card-body
                            p.sub-title Nhanh như chớp có ngay số đẹp
                            .item-text
                                .wrap-text 
                                    .number 1
                                    p.text Đăng nhập Ứng dụng 
                                        strong VPBank NEO
                                .line
                            .item-text
                                .wrap-text 
                                    .number 2
                                    p.text Chọn “Tài khoản số đẹp”
                                .line
                            .item-text
                                .wrap-text 
                                    .number 3
                                    p.text Nhập số tài khoản mong muốn
                                .line
                            .item-text
                                .wrap-text 
                                    .number 4
                                    p.text Nhập OTP xác nhận giao dịch & sử dụng ngay tài khoản
            .col-12.col-md-5
                .card
                    #noHaveNeo
                        button.btn.btn-link(data-toggle='collapse' data-target='#btnNoHaveNeo' aria-expanded='false' aria-controls='btnNoHaveNeo')
                            .gradient-text Chưa có
                            img(src="assets/images/icon-arrow.svg", alt="icon") 
                    #btnNoHaveNeo.collapse(aria-labelledby='btnNoHaveNeo')
                        .card-body
                            p.sub-title Thao tác 5 phút - Số đẹp trao tay
                            .item-text
                                .wrap-text 
                                    .number 1
                                    p.text Tải Ứng dụng VPBank NEO và chọn 
                                        strong “Đăng ký”
                                .line
                            .item-text
                                .wrap-text 
                                    .number 2
                                    p.text Chọn “Tài khoản số đẹp”
                                .line
                            .item-text
                                .wrap-text 
                                    .number 3
                                    p.text Nhập số tài khoản mong muốn
                                .line
                            .item-text
                                .wrap-text 
                                    .number 4
                                    p.text Nhập OTP xác nhận giao dịch & thanh toán phí mở tài khoản (nếu có)
                                .line
                            .item-text
                                .wrap-text 
                                    .number 5
                                    p.text Đăng nhập Ứng dụng VPBank NEO và sử dụng