section.home-block-5.full-height
    .wrap-border
        .container
            .row
                .col-12
                    .wrap-slide(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="400")
                        .wrap-title 
                            h3.title Executive Prime 
                            p.text NHÀ QUẢN LÝ TƯƠNG LAI
                        .block-slide
                            .slide-img 
                                img.img-top(src="assets/images/the-tin-dung.png", alt="places")
                                .content 
                                    p.title Hoàn tiền 10% tại Shopee & Nowfood
                                    ul 
                                        li Tặng ngay 400,000 VND evoucher chi tiêu trên Shopee
                                        li 10% Hoàn tiền cho giao dịch trên Shopee & Nowfood
                                        li Tặng 4 mã Freeship/tháng  trong 1 năm trên Shopee
                                        li Hoàn tiền 2% hoặc 0.3% cho giao dịch khác
                                .wrap-bottom
                                    .button 
                                        a(href="#") Đăng ký ngay
                                        .bg
                            .slide-img 
                                img.img-top(src="assets/images/tiet-kiem.png", alt="places")
                                .content 
                                    p.title Tiết kiệm Flexi saving X2 lãi suất, sinh lời tối ưu 
                                    ul 
                                        li Nhân 2 lãi suất ngay tháng gửi tiền đầu tiên
                                        li Gửi online 24/7
                                        li Kỳ hạn đa dạng, phù hợp mọi nhu cầu
                                .wrap-bottom
                                    .button 
                                        a(href="#") Đăng ký ngay
                                        .bg
                            .slide-img 
                                img.img-top(src="assets/images/sim.png", alt="places")
                                .content 
                                    p.title 1 tài khoản, 5 tiện ích <br> Tặng tiền trên mọi chi tiêu
                                    ul 
                                        li Tặng tài khoản số đẹp theo sinh nhật, tam hoa,tứ quý,…
                                        li 0 phí quản lý và rút tiền ATM trên toàn quốc
                                        li Miễn phí giao dịch online vô điều kiện
                                        li Hoàn tiền không giới hạn cho thẻ thanh toán
                                        li Quà tặng Digi Welcome và tặng tiền cho chi tiêu hàng tuần
                                .wrap-bottom
                                    .button 
                                        a(href="#") Đăng ký ngay
                                        .bg